# Ignore unnecessary system files and directories
.anaconda/
.android/
.cache/
.codeium/
.conda/
.condarc
.continuum/
.cursor/
.docker/
.emulator_console_auth_token
.gemini/
.gradle/
.hawtjni/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jdks/
.jupyter/
.kube/
.m2/
.matplotlib/
.minikube/
.n8n/
.node_repl_history
.p2/
.skaffold/
.sts4/
.virtual_documents/
.vscode/
.windsurf/
3D Objects/
AppData/
Contacts/
Downloads/
Favorites/
IdeaProjects/
IntelGraphicsProfiles/
Links/
Music/
NTUSER.DAT
NTUSER.DAT*
OneDrive/
Oracle/
Pictures/
Saved Games/
Searches/
Videos/
*.csv
*.lock
*.md
*.txt
*.ipynb